.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
}

.antony-img {
  height: 100vh;
  width: auto;
  display: block;
  position: relative;
  z-index: 1;
}

.flare-text {
  text-align: center;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 2rem;
  z-index: 2;
  text-shadow: 0 0 5px black;
}

.flare {
  animation: flare 0.3s ease-out;
}

@keyframes flare {
  0% {
    transform: translateX(-50%) scale(1);
    color: #da291c;
    text-shadow: 0 0 10px #fbe122, 0 0 20px #f0f;
  }
  50% {
    transform: translateX(-50%) scale(1.1);
    color: #da291c;
    text-shadow: 0 0 20px #fbe122, 0 0 30px #f0f;
  }
  100% {
    transform: translateX(-50%) scale(1);
    color: white;
    text-shadow: none;
  }
}
